@charset "UTF-8";
.wrapper .header .nav-bar {
  background-color: #393D49;
}
.wrapper .header .nav-bar .user-box .login-box {
  color: #fff;
  font: 500 14px/60px "Microsoft YaHei";
}
.wrapper .header .nav-bar .user-box .login-box a {
  color: inherit;
}
.wrapper .header .nav-bar .user-box .register-box {
  line-height: 60px;
}
